<title>speedtest</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Simple application for client bandwidth testing" />
<meta name="keywords" content="bandwidth, latency, test">
<meta name="author" content="Juraj Rolko">
<meta name="robots" content="index,follow">
<meta name="og:locale" content="en_US">
<meta name="og:type" content="website">
<meta name="og:site_name" content="speedtest">
<meta name="application-name" content="speedtest" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        