<!DOCTYPE HTML>
<html>

<head>
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="public/css/styles.css">
</head>

<body>

    <header>
        <h1>Speedtest</h1>
        <p>Simple application for client bandwidth testing</p>
    </header>

    <section class="testing">
        <button>start test</button>
    </section>

    <footer>
        Speedtest - <%= copyrightYear %>
    </footer>    
</body>

</html>